{% extends 'base_.html' %}

{% block content %}
<div class="charm-us">
    <div class="container rect1">
        {% include "header.html" %}
        <div class="text-center content">
            <h2 class="title">You have <span class="orange-text">30</span> sec to charm us! </h2>
            <div class="box-shurmus">
                <p>
                    Think of a <span class="fun-text bold">fun</span> experience, idea, something or someone that
                    excites you and tell us about it!
                </p>
                <video autoplay></video>
                <div class="clearfix"></div>
                <div class="btns">
                    <button id="record" class="record">Record</button>
                    <span id="timer" class="timing">30</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous">
</script>
{% load static %}
{% csrf_token %}
<script src="{% static "js/video_capture.js" %}"></script>
{% endblock %}
