{% extends 'base_.html' %}

{% block content %}
<div class="charm-us">
    <div class="container rect1">
        {% include "header.html" %}
        <div class="text-center content">
            <h2 class="title">You have <span class="orange-text">30</span> sec to charm us! </h2>
            <div class="box-shurmus">
                <p>
                    Think of a <span class="fun-text bold">fun</span> experience, idea, something or someone that
                    excites you and tell us about it!
                </p>
                {% if request.user_agent.is_pc and request.user_agent.os.family != 'iOS' %}
                <video autoplay muted></video>
                <div class="clearfix"></div>
                <div class="btns">
                    <button id="record" class="record" onclick="$('#record').trigger('click');">Record</button>
                    <span id="timer" class="timing">30</span>
                </div>
                {% else %}
                <div class="btns">
                    <button class="record" onclick="$('#record').click();">Record</button>
                    <input id="record" type="file" accept="video/*" class="record" capture="user" style="display: none;">
                    <br>
                    <span class="timing">We suggest you record for at least 30 seconds to achieve reasonable accuracy</span>
                </div>
                {% endif %}
{#            {{ request.META.HTTP_USER_AGENT }}#}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
{% if request.user_agent.is_pc and request.user_agent.os.family != 'iOS' %}
{% load static %}
{% csrf_token %}
<script src="{% static "js/video_capture.js" %}"></script>
{% else %}
<script type="text/javascript"></script>
{% endif %}
{% endblock %}
