<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>talkmeup</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="On-demand, effective and personalized coaching on communication skills at 1/100th the cost of the world's best professional coaches.">
        <meta property="og:title" content="Talk me up" />
        <meta property="og:url" content="​https://talkmeup.co/demo" />
        {% load static %}<meta property="og:image" content="{% static 'images/logo.png' %}" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{% static 'css/vendor/bootstrap/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="loader-wrap">
            <div class="loader">
                <span class="loader-item"></span>
                <span class="loader-item"></span>
                <span class="loader-item"></span>
                <span class="loader-item"></span>
                <span class="loader-item"></span>
                <span class="loader-item"></span>
                <span class="loader-item"></span>
                <span class="loader-item"></span>
                <span class="loader-item"></span>
                <span class="loader-item"></span>
            </div>
        </div>
        {% block content %}{% endblock %}
        <script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
