{% extends 'base_.html' %}

{% block content %}
    <div class="factors">
        <div class="container rect1">
            {% include "header.html" %}
            <div class="text-center content">
                <h2 class="title">I'm more charismatic than <span class="orange-text bold">XX%</span> of the population!</h2>
                <div class="check-btn">
                    <a class="btn" href="{% url "demo:factors" performance_key %}"> Check My Charisma Factors</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
