{% extends 'base_.html' %}

{% block content %}
<div class="contact">
    <div class="container rect2">
        {% include "header.html" %}
        <div class="text-center content">
            <div class="share-container">
                <h2>Share CharmTect with Friends!</h2>
                <h3>Activate smart coach TalkMeUp to boost my charm.</h3>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=%E2%80%8Bhttps%3A//talkmeup.co/demo"><i class="icons-facebook"></i></a>
                        <a href="https://twitter.com/home?status=%E2%80%8Bhttps%3A//talkmeup.co/demo"><i class="icons-twitter"></i></a>
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=%E2%80%8Bhttps%3A//talkmeup.co/demo&title=Talk%20me%20up&summary=&source="><i class="icons-linkedin"></i></a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-center">
                        <p class="share-copy">Copy URL to share!</p>
                        <div><button class="btn btn-url" id="get-url" data-clipboard-text="​https://talkmeup.co/demo">Get URL</button></div>
                        <input id="share-url" class="share-url" value="​https://talkmeup.co/demo" style="display: none">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    {% load static %}
<script src="{% static 'js/vendor/clipboard.min.js' %}"></script>
<script>
    var clipboard = new Clipboard('#get-url');

    clipboard.on('success', function(e) {
        $('#get-url').fadeOut();
        $(".share-url").delay(1000).fadeIn(10);
    });
</script>
{% endblock %}