
/* ==|=====================
   HELPERS
=========================== */


.text-bold{
  font-weight: bold !important;
}

.padding-0 {
  padding: 0 !important;
}

.padding-t-0 {

  padding-top: 0 !important;

}


.orange-text {
	color: #f3b947 !important;
}

.charm-text {
	color: #b7a6f6 !important;
}

.fun-text {
	color: #30a596 !important;
}

.bold {
	font-weight: 700 !important;
}