
/* ==|=====================
   LAYOUT
=========================== */



.rect1 {
	background: -moz-linear-gradient(320deg, #0b1721 0%, #0d2b4b 100%); 
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #0b1721),  color-stop(100%, #0d2b4b)); 
	background: -webkit-linear-gradient(320deg,  #0b1721 0%, #0d2b4b 100%); 
	background: -o-linear-gradient(320deg,  #0b1721 0%, #0d2b4b 100%); 
	background: -ms-linear-gradient(320deg,  #0b1721 0%, #0d2b4b 100%); 
	background: linear-gradient(320deg,  #0b1721 0%, #0d2b4b 100%); 
	
	color: white;
	padding: 0;
	width: 100%;
	min-height: 100vh;
}



.rect2 {
	background: -moz-linear-gradient(320deg, #164141 0%, #154a55 100%); 
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #164141),  color-stop(100%, #154a55)); 
	background: -webkit-linear-gradient(320deg,  #164141 0%, #154a55 100%); 
	background: -o-linear-gradient(320deg,  #164141 0%, #154a55 100%); 
	background: -ms-linear-gradient(320deg,  #164141 0%, #154a55 100%); 
	background: linear-gradient(320deg,  #164141 0%, #154a55 100%); 
	
	color: white;
	padding: 0;
	width: 100%;
	min-height: 100vh;
}


/* Header 
---------------------------------------*/ 

.header {

   	border-bottom: 2px solid #2FA496;
    width: 100%;
    margin: auto;
    padding: 18px 0 0 50px;
    height: 77px;

	.navbar {
    
    	margin-bottom: 0;

    	.navbar-brand {
	    	padding: 0;
		}

	}

	.logo {
        height: 100%;
    	margin-top: 8px;
	
	}


}

/* Content 
---------------------------------------*/ 


.content {
	padding: 4% 15px;


	.title {
		font-weight: 300;
	}
}


/* Footer
---------------------------------------*/ 
.footer {}


/* Responsive 
---------------------------------------*/

@media screen and (max-width: 320px) { 

	.factors .content .factors-container .btn-factors {
		font-size: 15px !important;
	}
}

@media screen and (max-width: 575px) { 
	
	.home .content .btn-detect {
		padding: 10px 15px !important;
		margin: 15% 0 20% 0 !important;
		font-size: 20px !important;
	}

	.charm-us .content .box-shurmus {
	    width: 90% !important;
	    margin: auto !important;
	}

	.factors .content .factors-container, .tips .content .factors-container {
		width: 100% !important;
	}
 
	.tips .content .factors-container .btns .btn-tips {
	    font-size: 18px !important;
	    width: 40% !important;
	}

	.sub-text span {
	    display: block !important;
	}

	.contact .content .share-container,  .contact .content .form-container{
		width: 100% !important;
		margin: 15% auto !important;
	}


	.contact .content .share-container .row a {
		padding: 1px !important;

	}
 }



@media (max-width: 767px) { 

	
 }


@media (max-width: 991px) { 
	
	.contact .content .form-container .sign-in,.contact .content .form-container .social-media {
		text-align: center !important;
	}


 }


@media (max-width: 1199px) and (min-width: 576px) { 


	.contact .content .share-container,  .contact .content .form-container{
		width: 70% !important;
		margin: 20px auto !important;
	}
 }
