{% extends 'base.html' %}

{% block content %}
<div class="contact">
    <div class="loader-wrap">
        <div class="loader">
            <span class="loader-item"></span>
            <span class="loader-item"></span>
            <span class="loader-item"></span>
            <span class="loader-item"></span>
            <span class="loader-item"></span>
            <span class="loader-item"></span>
            <span class="loader-item"></span>
            <span class="loader-item"></span>
            <span class="loader-item"></span>
            <span class="loader-item"></span>
        </div>
    </div>
    <div class="container rect2">
        {% include "header.html" %}
        <div class="text-center content">
            <div class="form-container">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-4 text-right col-form-label">First Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 text-right col-form-label">Last Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 text-right col-form-label">Email</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 text-right col-form-label">Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 text-right sign-in">
                            Or sign-in With
                        </div>
                        <div class="col-md-7 text-left social-media">
                            <a href=""><i class="icons-facebook"></i></a>
                            <a href=""><i class="icons-twitter"></i></a>
                            <a href=""><i class="icons-google"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}